aside{
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    background-color: #eaeaea;
}
aside img{
    width: 100%;
}
aside h2{
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    color: #6D6D6D;
    padding: 10px;
}
label{
    display: block;
    padding: 1rem;
    color:#6D6D6D;
}
aside button{
    display: block;
    margin: 0 auto;
    padding: 1rem;
    width: 150px;
    background-color: green;
    color: #fff;
    border: none;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s all ease-in-out;
}
button:hover{
    background-color: darkgreen;
}
