aside{
    width: 100%;
    max-width: 300px;
    height: 100vh;
    background-color: #eaeaea;
}
aside img{
    width: 100%;
    max-width: 408px;
}
aside h2{
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    color: #6D6D6D;
    padding: 10px;
    margin-bottom: 2rem;
}
label{
    display: block;
    padding: 1rem;
    color:#6D6D6D;
}

aside #dy-range, #dy-categorias{
    margin-bottom: 2rem;
}

aside button{
    display: block;
    margin: 0 auto;
    margin-top: 10rem;
    padding: 1rem;
    width: 150px;
    background-color: green;
    color: #fff;
    border: none;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s all ease-in-out;
}
button:hover{
    background-color: darkgreen;
}