header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
header h1{
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 600;
    color: #6d6d6d;
}
header ul{
    display: flex;
    gap: 20px;
}
header img{
    width: 50px;
}